<script src="~/Scripts/projeto/exercicio/exercicio.js"></script>
<script>
    Europa.Controllers.Exercicio.UrlGetAluno = '@Url.Action("GetAluno", "Exercicio")';
</script>



<div id="form-aluno">
    @Html.Partial("_FormularioAluno")
</div>